package incus_test

import (
	"context"
	"net/http"
	"testing"

	incusapi "github.com/lxc/incus/v7/shared/api"
	"github.com/stretchr/testify/require"

	"github.com/FuturFusion/operations-center/internal/adapter/incus"
	"github.com/FuturFusion/operations-center/internal/provisioning"
	"github.com/FuturFusion/operations-center/internal/util/testing/queue"
	"github.com/FuturFusion/operations-center/shared/api"
)

func {{ .Name | camelcase }}ClientTestCases(t *testing.T) []methodTestSet {
	return []methodTestSet{
		{
			name:            "Get{{ .PluralName | pascalcase }}",
			wantPathsPrefix: true,
			clientCall: func(ctx context.Context, client incus.Client, server provisioning.Server) (any, error) {
				return client.Get{{ .PluralName | pascalcase }}(ctx, server{{ if .HasProjectFromParent }}, "project"{{ end }}{{ if .HasParent }}, "{{ .ParentName }}"{{ end }})
			},
			testCases: []methodTestCase{
				{
					name: "success",
					response: []queue.Item[response]{
						{
							Value: response{
								statusCode: http.StatusOK,
								responseBody: mustJSONMarshal(t, api.ResponseRaw{
									Metadata: []incusapi.{{ .ObjectType | pascalcase }}{
										{
{{- if .ObjectEmbedded }}
											{{ .Name | pascalcase }}: incusapi.{{ .Name | pascalcase }}{
{{- end }}
{{- if .UsesEmbeddedPostType }}
												{{ .Name | pascalcase }}Post: incusapi.{{ .Name | pascalcase }}Post{
{{- end }}
													{{ .ObjectNamePropertyName | pascalcase }}: "{{ .Name | camelcase }} one",
{{- if .UsesEmbeddedPostType }}
												},
{{- end }}
{{- if .ServerIDByLocation }}
												Location:  "one",
{{- end }}
{{- if .HasProjectDirect }}
												Project: "project one",
{{- end }}
{{- if .ObjectEmbedded }}
											},
{{- end }}
										},
									},
								}),
							},
						},
					},

					assertErr: require.NoError,
					assertResult: func(t *testing.T, res any) {
						t.Helper()
						require.Len(t, res, 1)
					},
					wantPaths: []string{"GET /1.0/{{ if .HasParent }}{{ .ParentPluralName | kebabcase }}/{{ .ParentName }}/{{ trimPrefix "network-" (trimPrefix "storage-" (.PluralName | kebabcase) ) }}{{ else }}{{ .PluralName | kebabcase }}{{ end }}?{{ if .HasProjectDirect }}all-projects=true{{ end }}"},
				},
				{
					name: "error - not found",
					response: []queue.Item[response]{
						{
							Value: response{
								statusCode: http.StatusNotFound,
								responseBody: mustJSONMarshal(t, api.ResponseRaw{
									Type:       api.ErrorResponse,
									StatusCode: http.StatusNotFound,
								},
								),
							},
						},
					},

					assertErr:    require.Error,
					assertResult: noResult,
					wantPaths:    []string{"GET /1.0/{{ if .HasParent }}{{ .ParentPluralName | kebabcase }}/{{ .ParentName }}/{{ trimPrefix "network-" (trimPrefix "storage-" (.PluralName | kebabcase) ) }}{{ else }}{{ .PluralName | kebabcase }}{{ end }}?{{ if .HasProjectDirect }}all-projects=true{{ end }}"},
				},
				{
					name: "error - unexpected http status code",
					response: []queue.Item[response]{
						{
							Value: response{
								statusCode: http.StatusInternalServerError,
							},
						},
					},

					assertErr:    require.Error,
					assertResult: noResult,
					wantPaths:    []string{"GET /1.0/{{ if .HasParent }}{{ .ParentPluralName | kebabcase }}/{{ .ParentName }}/{{ trimPrefix "network-" (trimPrefix "storage-" (.PluralName | kebabcase) ) }}{{ else }}{{ .PluralName | kebabcase }}{{ end }}?{{ if .HasProjectDirect }}all-projects=true{{ end }}"},
				},
			},
		},

		{
			name:            "Get{{ .Name | pascalcase }}ByName",
			wantPathsPrefix: true,
			clientCall: func(ctx context.Context, client incus.Client, server provisioning.Server) (any, error) {
				return client.Get{{ .Name | pascalcase }}ByName(ctx, server, {{ if .HasProject }}"project", {{ end }}{{ if .HasParent }}"{{ .ParentName }}", {{ end }}"name"{{- range .ExtraAttributes }}, {{ .TestDummyValue }} {{- end}})
			},
			testCases: []methodTestCase{
				{
					name: "success",
					response: []queue.Item[response]{
						{
							Value: response{
								statusCode: http.StatusOK,
								responseBody: mustJSONMarshal(t, api.ResponseRaw{
									Metadata: incusapi.{{ .ObjectType | pascalcase }}{
{{- if .ObjectEmbedded }}
										{{ .Name | pascalcase }}: incusapi.{{ .Name | pascalcase }}{
{{- end }}
{{- if .UsesEmbeddedPostType }}
											{{ .Name | pascalcase }}Post: incusapi.{{ .Name | pascalcase }}Post{
{{- end }}
												{{ .ObjectNamePropertyName | pascalcase }}: "{{ .Name | camelcase }} one",
{{- if .UsesEmbeddedPostType }}
											},
{{- end }}
{{- if .ServerIDByLocation }}
											Location:  "one",
{{- end }}
{{- if .HasProjectDirect }}
											Project: "project one",
{{- end }}
{{- if .ObjectEmbedded }}
										},
{{- end }}
									},
								}),
							},
						},
					},

					assertErr: require.NoError,
					assertResult: func(t *testing.T, res any) {
						t.Helper()

						want{{ .Name | pascalcase }} := incusapi.{{ .ObjectType | pascalcase }}{
{{- if .ObjectEmbedded }}
							{{ .Name | pascalcase }}: incusapi.{{ .Name | pascalcase }}{
{{- end }}
{{- if .UsesEmbeddedPostType }}
								{{ .Name | pascalcase }}Post: incusapi.{{ .Name | pascalcase }}Post{
{{- end }}
									{{ .ObjectNamePropertyName | pascalcase }}: "{{ .Name | camelcase }} one",
{{- if .UsesEmbeddedPostType }}
								},
{{- end }}
{{- if .ServerIDByLocation }}
								Location:  "one",
{{- end }}
{{- if .HasProjectDirect }}
								Project: "project one",
{{- end }}
{{- if .ObjectEmbedded }}
							},
{{- end }}
						}

						require.Equal(t, want{{ .Name | pascalcase }}, res)
					},
					wantPaths: []string{"GET /1.0/{{ if .HasParent }}{{ .ParentPluralName | kebabcase }}/{{ .ParentName }}/{{ trimPrefix "network-" (trimPrefix "storage-" (.PluralName | kebabcase) ) }}{{ else }}{{ .PluralName | kebabcase }}{{ end }}{{ range .ExtraAttributes }}/{{ trimAll `"` .TestDummyValue }}{{ end }}/name{{ if .HasProjectDirect }}?project=project{{ end }}"},
				},
				{
					name: "error - unexpected http status code",
					response: []queue.Item[response]{
						{
							Value: response{
								statusCode: http.StatusInternalServerError,
							},
						},
					},

					assertErr:    require.Error,
					assertResult: noResult,
					wantPaths:    []string{"GET /1.0/{{ if .HasParent }}{{ .ParentPluralName | kebabcase }}/{{ .ParentName }}/{{ trimPrefix "network-" (trimPrefix "storage-" (.PluralName | kebabcase) ) }}{{ else }}{{ .PluralName | kebabcase }}{{ end }}{{ range .ExtraAttributes }}/{{ trimAll `"` .TestDummyValue }}{{ end }}/name{{ if .HasProjectDirect }}?project=project{{ end }}"},
				},
				{
					name: "error - not found",
					response: []queue.Item[response]{
						{
							Value: response{
								statusCode: http.StatusNotFound,
								responseBody: mustJSONMarshal(t, api.ResponseRaw{
									Type:   api.ErrorResponse,
									Status: http.StatusText(http.StatusNotFound),
								}),
							},
						},
					},

					assertErr:    require.Error,
					assertResult: noResult,
					wantPaths:    []string{"GET /1.0/{{ if .HasParent }}{{ .ParentPluralName | kebabcase }}/{{ .ParentName }}/{{ trimPrefix "network-" (trimPrefix "storage-" (.PluralName | kebabcase) ) }}{{ else }}{{ .PluralName | kebabcase }}{{ end }}{{ range .ExtraAttributes }}/{{ trimAll `"` .TestDummyValue }}{{ end }}/name{{ if .HasProjectDirect }}?project=project{{ end }}"},
				},
			},
		},
	}
}
